* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 5;
  box-shadow: 3px 3px 5px 1px rgb(105, 105, 105);

  div.logo {
    display: flex;
    align-items: center;
    margin-left: 2rem;
    flex: 5 1 400px;
    img {
      width: 6vw;
      height: 6vw;
    }
  }
  nav {
    flex: 2 1 400px;
    ul {
      display: flex;
      list-style: none;
      justify-content: space-around;
      li {
        a {
          color: #09777d;
          text-decoration: none;
          font-size: 1.35rem;
        }
      }
    }
  }
}

main {
  section.backImage {
    min-height: 90vh;
    width: 100%;
    background-image: url("../Pictures/pexels-photo-416676.jpeg");
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    h3 {
      font-size: 3.5rem;
      color: white;
    }

    button.start {
      background-color: #3bf0e5;
      color: black;
      font-size: 1.5rem;
      padding: 0.75rem 1.5rem;
      border-radius: 1rem;
      border: none;
      margin: 2rem 0rem;
      cursor: pointer;
    }

    div.filter {
      width: 100%;
      min-height: 90vh;
      background-color: #0000003f;
      position: absolute;
      top: 0;
      z-index: -1;
    }
  }

  section.second {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h2 {
      font-size: 2rem;
      margin: 2rem 0rem;
      span {
        color: #12948c;
      }
    }

    section.cards {
      display: flex;
      //   border: 2px solid red;
      width: 80%;
      min-height: 80vh;
      flex-wrap: wrap;
      div.card {
        // border: 2px solid blue;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding: 1rem;
        flex: 1 1 300px;
        div.image-container {
          overflow: hidden;
          width: 15vw;
          height: 15vw;
          border-radius: 50%;
          img {
            width: 15vw;
            height: 15vw;
            border-radius: 50%;
            transition: all 0.2s;
            &:hover {
              transform: scale(1.2);
            }
          }
        }
        h4 {
          padding: 1rem 0rem;
          font-size: 2rem;
        }
        p {
          font-size: 1.25rem;
        }
        a {
          padding: 1rem 0rem;
          text-decoration: none;
          padding: 1rem 1.5rem;
          background-color: #09777d;
          color: white;
        }
      }
    }
  }
}

footer {
  background-color: lightgray;
  section.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 8vw;
      height: 8vw;
    }
  }
  nav.links {
    display: flex;
    justify-content: center;
    ul {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      li {
        padding: 0.75rem;
        list-style-type: none;
        a {
          text-decoration: none;
          color: black;
          font-size: 1.25rem;
        }
      }
    }
  }
  section.socialMediaLink {
    display: flex;
    justify-content: center;
    ul {
      display: flex;
      justify-content: center;
      li {
        list-style-type: none;
        padding: 1rem;
        flex-wrap: wrap;
        img {
          width: 4vw;
          height: 4vw;
        }
      }
    }
  }
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #09777d;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #09576d;
}
@media screen and (max-width: 600px) {
  header {
    div.logo {
      margin-left: 0.5rem;
      img {
        width: 15vw;
        height: 15vw;
      }
    }
  }
  footer {
    section.socialMediaLink {
      ul {
        li {
          padding: 1rem;
          img {
            width: 10vw;
            height: 10vw;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  main {
    section.second {
      section.cards {
        div.card {
          img {
            width: 50vw;
            height: 50vw;
          }
        }
      }
    }
  }
}
